## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_replace_df = application_df[application_df['CLASSIFICATION'].map(application_df['CLASSIFICATION'].value_counts()) < 1000]['CLASSIFICATION'].value_counts()
class_replace_df.index

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C6000', 'C1800', 'C1250', 'C8200', 'C1278', 'C1238',
       'C1235', 'C1237', 'C7210', 'C1720', 'C2400', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256',
       'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object')

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = class_replace_df.index
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL'])
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  12
hidden_nodes_layer2 = 9

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                528

 dense_1 (Dense)             (None, 9)                 117

 dense_2 (Dense)             (None, 1)                 10

=================================================================
Total params: 655
Trainable params: 655
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=30)

Epoch 1/30
804/804 [==============================] - 3s 2ms/step - loss: 0.6429 - accuracy: 0.6647
Epoch 2/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7219
Epoch 3/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7257
Epoch 4/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5580 - accuracy: 0.7268
Epoch 5/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7294
Epoch 6/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7296
Epoch 7/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7303
Epoch 8/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7309
Epoch 9/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7311
Epoch 10/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7310
Epoch 11/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7314
Epoch 12/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7316
Epoch 13/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7312
Epoch 14/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7329
Epoch 15/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7325
Epoch 16/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7314
Epoch 17/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7316
Epoch 18/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7324
Epoch 19/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7332
Epoch 20/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7320
Epoch 21/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7324
Epoch 22/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7323
Epoch 23/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7323
Epoch 24/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7325
Epoch 25/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7332
Epoch 26/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7338
Epoch 27/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7336
Epoch 28/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7333
Epoch 29/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7328
Epoch 30/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7328

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5532 - accuracy: 0.7296 - 575ms/epoch - 2ms/step
Loss: 0.5532222390174866, Accuracy: 0.7295626997947693

In [17]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save_weights("AlphabetSoupCharity.h5")